<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.materialdesigndemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".util.MyApplication"
        android:theme="@style/AppTheme2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListViewActivity" android:label="ListViewActivity"/>
        <activity android:name=".CardViewActivity" android:label="CardViewActivity"/>
        <activity android:name=".module.listview.SingleLineWithIconActivity" android:label="SingleLineWithIcon"/>
        <activity android:name=".module.listview.SingleLineWithAvatarActivity" android:label="SingleLineWithAvatar"/>
        <activity android:name=".module.listview.SingleLineWithAvatarAndIconActivity" android:label="SingleLineWithAvatarAndIcon"/>
        <activity android:name=".module.listview.TwoLineOnlyTextActivity" android:label="TwoLineOnlyText"/>
        <activity android:name=".module.listview.TwoLineWithIconActivity" android:label="TwoLineWithIcon"/>
        <activity android:name=".module.listview.TwoLineWithAvatarActivity" android:label="TwoLineWithAvatar"/>
        <activity android:name=".module.listview.TwoLineWithAvatarAndIconActivity" android:label="TwoLineWithAvatarAndIcon"/>
        <activity android:name=".module.listview.ThreeLineOnlyTextActivity" android:label="ThreeLineOnlyText"/>
        <activity android:name=".module.listview.ThreeLineWithIconActivity" android:label="ThreeLineWithIcon"/>
        <activity android:name=".module.listview.ThreeLineWithAvatarActivity" android:label="ThreeLineWithAvatar"/>
        <activity android:name=".module.listview.ThreeLineWithAvatarAndIconActivity" android:label="ThreeLineWithAvatarAndIcon"/>
        <activity android:name=".ButtonActivity" android:label="ButtonActivity"/>
        <activity android:name=".module.cardview.CardViewActivity" android:label="CardViewActivity"/>
        <activity android:name=".module.cardview.CardView2Activity" android:label="CardView2Activity"/>
        <activity android:name=".module.cardview.CardView3Activity" android:label="CardView3Activity"/>
        <activity android:name=".module.cardview.CardView4Activity" android:label="CardView4Activity"/>
        <activity android:name=".module.cardview.CardView5Activity" android:label="CardView5Activity"/>
        <activity android:name=".GridViewActivity" android:label="GridViewActivity"/>
        <activity android:name=".module.gridview.GridViewOnlyImageActivity" android:label="GridViewOnlyImageActivity"/>
        <activity android:name=".module.gridview.GridViewSingleLineOnlyTextActivity" android:label="GridViewSingleLineOnlyTextActivity"/>
        <activity android:name=".module.gridview.GridViewSingleLineWithIconActivity" android:label="GridViewSingleLineWithIconActivity"/>
        <activity android:name=".module.gridview.GridViewTwoLineOnlyTextActivity" android:label="GridViewTwoLineOnlyTextActivity"/>
        <activity android:name=".module.gridview.GridViewTwoLineWithIconActivity" android:label="GridViewTwoLineWithIconActivity"/>
        <activity android:name=".MenuActivity" android:label="MenuActivity"/>
        <activity android:name=".SwipeRecyclerActivity" android:label="SwipeRecyclerActivity"/>
        <activity android:name=".SelectionActivity" android:label="SelectionActivity"/>
        <activity android:name=".TabActivity" android:label="TabActivity"/>
        <activity android:name=".FABAndSnackBarActivity" android:label="FABAndSnackBarActivity"/>
        <activity android:name=".module.navigationview.NavigationViewActivity" android:label="NavigationViewActivity" />
        <activity android:name=".EmptyActivity" android:label="EmptyActivity" />
        <activity android:name=".ErrorListActivity" android:label="ErrorListActivity"/>
        <activity android:name=".module.error.InputErrorActivity" android:label="InputErrorActivity" />
    </application>

</manifest>